/* css code goes here */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.grid-container{
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 50px auto 50px;
    height: 100vh;
    grid-template-areas:
    "navbar navbar navbar"
    "left-sidebar main right-sidebar"
    "footer footer footer";
}

.nav-bar {
    grid-area: navbar;
    background-color: #a5be13;
    text-align: center;
  }
.left-side-bar {
    grid-area: left-sidebar;
    background-color: #c973df;
    text-align: center;
  }
  
  .main {
    grid-area: main;
    background-color: #ff0606;
    text-align: center;
  }
  
  .right-side-bar {
    grid-area: right-sidebar;
    background-color: #8c0bd6;
    text-align: center;
  }
  
  .footer {
    grid-area: footer;
    background-color: #b64f0a;
    text-align: center;
  }