.page {
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-areas:
      "nav head head"
      "nav head head"
      "nav main main"
      "foot foot foot";
    grid-template-rows: repeat(3, 2fr) 1fr;
    grid-template-columns: 1fr 2fr 2fr;
  }
  
  
  header {
    grid-area: head;
    background-color: #8ca0ff;
    text-align: center;
    font-weight: bold;
  }
  
  nav {
    grid-area: nav;
    background-color: #ffa08c;
    text-align: center;
    font-weight: bold;
  
  }
  
  main {
    grid-area: main;
    background-color: #ffff64;
    text-align: center;
    font-weight: bold;
  
  }
  
  footer {
    grid-area: foot;
    background-color: #8cffa0;
    text-align: center;
    font-weight: bold;
  
  }