*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: bisque;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    border-radius: 11px;
    overflow: hidden;
    
  }
  
  .community, .card, .why-us {
    padding: 20px;
    color: #fff;
  }
  
  .community {
    background-color: rgb(20, 19, 19);
  }
  
  .card {
    background-color: rgb(15, 67, 66);
  }
  
  .why-us {
    background-color: rgba(85, 145, 142, 0.698);
  }
  
  .why-us h2 {
    font-size: 24px;
    /* margin-bottom: 20px; */
  }
  
  .why-us ul {
    list-style-type: none;
    padding: 0;
  }
  
  .why-us li {
    /* margin-bottom: 10px; */
  }
  
  .community h2, .card h2 {
    font-size: 28px;
    /* margin-bottom: 10px; */
  }
  
  .community p, .card p {
    font-size: 18px;
    /* margin-bottom: 10px; */
  }
  